/* PC */
@media (min-width: 1024px) {
    .header__navbar .mobile-menu-btn {
        display: none;
    }
}


/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    /* On dinh */
    .mobile-menu-btn {
        display: none;
    }
    .content .avatar {
        height: 210px;
        margin: 0 auto;
    }

    .grid__column-full {
        width: 100%;
        padding: 0 20px;
        margin-top: -20px;
    }
}


/* Mobile */
@media (max-width: 740px) {


    .header__navbar-list {
        position: fixed;
        display: block;
        overflow: hidden;
        height: 46px;
        background-color: #f5f5f5;
        color: black;
        border-bottom-right-radius: 40px;


    }

    #header .header__navbar-list:hover {
        position: fixed;
        display: block;
        overflow: hidden;
        height: 46px;
        background-color: #f5f5f5;
        color: black;
        border-bottom-right-radius: 30px;

    }

    .header__title {
        margin-left: 16px;
    }

    .header__navbar-item {
        margin-left: 6px;
    }

    .header__navbar-item:hover a {
        background-color: #f5f5f5;
        z-index: 1;
    }

    .header__navbar-item--separate {
        font-size: 19px;
    }

    .header__navbar-item-connect {
        display: none;
    }

    #header__navbar-time {
        display: none;
    }

    .mobile-menu-btn {
        margin: 0 auto;
        margin-right: 0;

    }

    .menu-icon {
        margin-right: 2px;
    }

    .content {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .content .player {
        position: absolute;
        display: inline;
        /* height: 40px; */
        width: 100px;
        left: 140px;
        bottom: 16px;
    }
 
    .content .player {
        position: absolute;
        display: inline;
        /* height: 40px; */
        left: 170px;
        bottom: 20px;
    }
    

    
    .content .player #autoplay {
        width: 180px;
        max-width: 180px;
        height: 40px;
        border: 1px solid #7e8081;
        animation: fadeIn ease-in 0.15s;
        border-radius: 20px; 
    }

    .grid__row {
        position: relative;
        display: flex;
        margin: 0px 8px 8px 8px;

    }

    .grid__column-full {
        width: 100%;
        padding: 0 55px;
        margin-top: -20px;
    }

    .grid__column-7 {
        /* margin-left: 50px; */
        width: 100%;
    }

    .grid__column-4 {
        /* margin-right: 6px ; */

    }

    .info .info__heading {
        font-size: 25px;
    }


    .slider, #demo, .carousel-inner ,.carousel-item, .carousel-item img{ 
        position: relative;
        height: 650px;
        
    }


    .slider-title {
        font-size: 17px;
        font-weight: 400;
        bottom: 26px;
        left: 10px;
    }
    .info .member-img {
        max-width: 100px;
    }

  
    .content .avatar {
        height: 210px;
        margin: 0 auto;
    }

    .cv-btn {
        font-size: 13px;
        margin-top: 25px;
        margin-bottom: 27px;
    }


    .contact-form {
        width: 100%;
    }

    #contact .contact-heading {
        padding-top: 30px;
    }

    #contact .contact-content {
        margin-left: 22px;
        margin-right: 40px;
        margin-top: -30px;
    }



    .footer__qr {
        height: 60px;
    }

    .footer__heading {
        font-size: 15px;
    }

    .footer__heading-qr {
        font-size: 10px;
    }

    .footer-item__link {
        font-size: 10px;
    }

    .footer__bottom {
        margin-top: 0;
        max-height: 25px;
        padding-top: 0px;


    }

    .footer__text {
        font-size: 10px;
        margin-bottom: 0;
        line-height: 40px;
    }
}